footer{
	clear:both;
	background:$darkGrey;
	width:100%;
	@include rem("height", 300);
	@include rem("margin", 30, 0, 0, 0);
	@include rem("padding", 30, 0, 0, 0);
	color:white;

	// Breakpoint tablet
	@include breakpoint($tablet){
		@include rem("height", 440);
		@include rem("padding", 20, 10);
	}


	h4{
		@include rem("margin-left", 30);
		a{
			display:block;
			@include hide-text();
			background:url(../images/cr-logo-footer.png) no-repeat;
			@include retina("../images/cr-logo-footer-hd.png", 150, 61);
			@include rem("width", 150);
			@include rem("height", 61);
		}
		
		// Breakpoint tablet
		@include breakpoint($tablet){
			margin-left:0;
		}

	}
}