@font-face {
    font-family: 'snowhouse';
    src: url('fonts/snowhouse_demo-webfont.eot');
    src: url('fonts/snowhouse_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/snowhouse_demo-webfont.woff') format('woff'),
         url('fonts/snowhouse_demo-webfont.ttf') format('truetype'),
         url('fonts/snowhouse_demo-webfont.svg#snowhouse_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


